body {
  background-color: var(--color-black);
  color: var(--color-white);
}

textarea:focus-visible {
  outline: none;
}

 .p-button:focus-visible {
  outline: none;
}

input:focus-visible {
  outline: none;
}